<div class="container-fluid">
    <h1 class="title">Tạo test mới</h1>
    <div class="box">
        <form>
            <div [innerHTML]='test | json'></div>
            <div class="test-detail">
                <h1>Thông tin bài test</h1>
                <p>Tên:</p>
                <input type="text" name="testName" [(ngModel)]="test.name">
                <p>Số lần thử:</p>
                <input type="number" name="numRetry" [(ngModel)]="test.numberRetry">
                <p>Thời gian làm bài:</p>
                <input type="number" name="time" [(ngModel)]="test.time">
            </div>
            <h3>Các câu hỏi</h3>
            <div class="quizs" *ngFor="let quiz of test.quizs; let i = index">
                <div class="quiz-box">
                    <p>Câu hỏi {{i}}</p>
                    <input type="text" name="quizname{{i}}" [(ngModel)]="test.quizs[i].content">
                    <p>Dạng câu hỏi</p>
                    <div>
                        <span>Single choice</span>
                        <input type="radio" name="quizType{{i}}" [(ngModel)]="test.quizs[i].quizType" [value]="false">
                        <span>Multi choice</span>
                        <input type="radio" name="quizType{{i}}" [(ngModel)]="test.quizs[i].quizType" [value]="true">
                    </div>
                    <div class="answers" *ngFor="let answer of quiz.answers; let j = index">
                        <div class="answer-box">
                            <label>{{j}}</label>
                            <input type="text" name="answerContent{{i}}-{{j}}" [(ngModel)]="test.quizs[i].answers[j].content">
                            <input [type]="quiz.quizType?'checkbox':'radio'" id="isCorrect{{i}}-{{j}}" name="isCorrect{{i}}-{{j}}" [checked]="answer.isCorrect" (change)="onItemChange(quiz.quizType,i,j)">
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>