<div class="container-fluid">
    <h1 class="title">Tạo test mới</h1>
    <form class="box" >
        <div class="left">
            <div class="test-detail">
                <p>Tên:</p>
                <input type="text" name="testName" [(ngModel)]="test.name">
                <p>Số lần thử:</p>
                <input type="number" name="numRetry" [(ngModel)]="test.numbRetry">
                <p>Thời gian làm bài:</p>
                <input type="number" name="time" [(ngModel)]="test.time">
                <p></p>
                <button class="btn" (click)='quizPush()'>Thêm quiz mới</button>
                <pagination-controls id="listing_pagination" (pageChange)="p = $event" previousLabel="" nextLabel="" [maxSize]="100">
                </pagination-controls>
                <button class="btn" (click)="onCreateNewTest()">Lưu</button>
                <p *ngIf='isErr' class="bg-danger text-white error-msg" [innerHTML]="errormsg">ERROR</p>
            </div>
        </div>

        <div class="right">
            <div class="quizs card"
                *ngFor="let quiz of test.quizs | paginate: {id: 'listing_pagination', itemsPerPage: 1, currentPage: p }">
                <div class="card-header">
                    <h2>Câu hỏi {{p}}</h2> <button (click)='deleteQuiz(p-1)'>delete</button>
                </div>
                <div class="quiz-box card-body">
                    <textarea class="quiz-content" type="text" name="quizname{{p-1}}"
                        [(ngModel)]="test.quizs[p-1].content" autosize placeholder="Nội dung câu hỏi"></textarea>
                    <div class="quiz-type">
                        <span>Single choice</span>
                        <input class="form-check-input" type="radio" name="quizType{{p-1}}" [(ngModel)]="test.quizs[p-1].quizType"
                            [value]="false">
                        <span>Multi choice</span>
                        <input class="form-check-input" type="radio" name="quizType{{p-1}}" [(ngModel)]="test.quizs[p-1].quizType"
                            [value]="true">
                    </div>
                    <div class="answers" *ngFor="let answer of quiz.answers; let j = index">
                        <div class="answer-box">
                            <label>{{listChar[j]}}</label>
                            <textarea type="text" name="answerContent{{p-1}}-{{j}}"
                                [(ngModel)]="test.quizs[p-1].answers[j].answer" autosize placeholder="Nội dung câu trả lời"></textarea>
                            <input class="" [type]="quiz.quizType?'checkbox':'radio'" id="isCorrect{{p-1}}-{{j}}"
                                name="isCorrect{{p-1}}-{{j}}" [checked]="answer.correct"
                                (change)="onItemChange(quiz.quizType,p-1,j)" >
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>