<div class="row" id="profile">
  <div class="col-lg-5">
    <div class="left-col">
      <div class="profile-img">
        <img src="{{img}}" class="img-fluid">
      </div>
      <h1 class="name">{{userInformation.name}}</h1>
      <div class="email-contact">
        <h2 class="email"><span class="email-img"></span>{{userInformation.email}}</h2>
      </div>
      <div class="function">
        <button class="btn" data-bs-toggle="modal" data-bs-target="#editProfile">Chỉnh sửa thông tin</button>
        <button class="btn" data-bs-toggle="modal" data-bs-target="#changePassword">Đổi mật khẩu</button>
      </div>
    </div>

  </div>
  <div class="col-lg-7">
    <div class="right-col">
      <div class="phone info">
        <label for="phone-number">Điện thoại <i class='fas fa-phone-alt'></i> </label>
        <div id="phone-number">{{userInformation.phone}}</div>
      </div>
      <div class="gender info">
        <label for="gender">Giới tính <i class='fas fa-transgender-alt'></i></label>
        <div *ngIf="userInformation.gender == true; else elseBlock">
          <div id="gender">Nam</div>
        </div>
        <ng-template #elseBlock>
          <div id="gender">Nữ</div>
        </ng-template>
      </div>
      <div class="day-of-birth info">
        <label for="birthday">Ngày sinh <i class='far fa-calendar-alt'></i></label>
        <div id="birthday">{{userInformation.birthday}}</div>
      </div>
      <div class="address info-xl">
        <label for="address">Địa chỉ <i class='fas fa-address-book'></i></label>
        <div id="address">{{userInformation.address}}</div>
      </div>
    </div>
  </div>
</div>
<div class="row" id="activity">
  <h1>Activity</h1>
  <div class="grid">
    <div class="class-card" *ngFor="let quiz of userInformation.recentClass.reverse() | slice:0:4">
      <div class="test-glass" [routerLink]="['/teacher/course/'+quiz.id]">
        <img class="shape" [src]='quiz.imgUrl'
          onerror="this.src='https://media.sketchfab.com/models/7d40f94be37d458e98365e89dcdcae11/thumbnails/6bbd665875d94ff981f54e4c1a445617/81b45ea904ad4cfd95234ca9d3ac525d.jpeg'">
        <div class="card">
          <p>Xem chi tiết</p>
        </div>
      </div>
      <div class="card-title d-flex justify-content-center align-items-center">
        <p #name class="text-truncate" [innerHTML]="quiz.name"></p>
      </div>
    </div>
  </div>

  <div *ngIf="userInformation.recentClass.length <= 0"> Chưa có lớp học nào. </div>
</div>



<!--Edit Profile Modal-->
<div class="modal fade" id="editProfile" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Chỉnh sửa thông tin cá nhân</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="edit-profile">
          <input #name class="" placeholder="Tên" type="text">
          <input #phone class="" placeholder="Số điện thoại" type="number">
          <select name="gender" id="gender" #gender>
            <option value="" selected hidden>Chọn giới tính</option>
            <option value="true">Nam</option>
            <option value="false">Nữ</option>
            <option value="">Khác</option>
          </select>
          
          <textarea #address class="" placeholder="Địa chỉ" type="text"></textarea>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
        <button type="button" class="btn btn-primary"
          (click)="editProfile(name.value, phone.value, gender.value, address.value)" data-bs-dismiss="modal">Lưu</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="changePassword" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel"><strong>Đổi mật khẩu</strong></h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="change-password">
          <form [formGroup]='changepassForm' (ngSubmit)="changePassword()">
            <div class="form-group">
              <label for="current-password">Mật khẩu cũ</label>
              <input type="password" class="form-control" id="current-password" placeholder="Mật khẩu cũ"
                formControlName="currentPassword">
              <div class="invalid-feedback">
                <div *ngIf="changepassForm.controls['currentPassword'].hasError('required')">
                  Current Password is required
                </div>
                <div *ngIf="changepassForm.controls['currentPassword'].hasError('minlength')">
                  Current Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="new-password">Mật khẩu mới</label>
              <input type="password" class="form-control" id="new-password" placeholder="Mật khẩu mới"
                formControlName="newPassword">
              <div class="invalid-feedback">
                <div *ngIf="changepassForm.controls['newPassword'].hasError('required')">
                  New Password is required
                </div>
                <div *ngIf="changepassForm.controls['newPassword'].hasError('minlength')">
                  New Password must be at least 6 characters
                </div>
              </div>
            </div>
            <div class="form-group">
              <label for="confirm-password">Nhập lại mật khẩu</label>
              <input type="password" class="form-control" id="confirm-password" placeholder="Nhập lại mật khẩu"
                formControlName="confirmPassword">
              <div class="invalid-feedback">
                <div
                  *ngIf="changepassForm.controls['confirmPassword'].hasError('required') && (changepassForm.controls.confirmPassword.touched || changepassForm.controls['confirmPassword'].touched)">
                  Confirm Password is required
                </div>
                <div *ngIf="changepassForm.controls['confirmPassword'].hasError('minlength')">
                  Confirm Password must be at least 6 characters
                </div>
                <div *ngIf="changepassForm.controls['confirmPassword'].hasError('mismatchedPasswords')">
                  Password does not match
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Đóng</button>
              <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" [disabled]="!changepassForm.valid">Lưu</button>
            </div>
            

          </form>

        </div>
      </div>

    </div>
  </div>
</div>