.wrap-box{
    display: flex;
    flex-direction: column;
    padding: 50px;
}
.card{
    margin-bottom: 10px;
}
.card-footer{
    display: flex;
    flex-direction: row-reverse;
}

.card-header .header-left{
    float: left;
}
.card-header .header-right{
    float: right;
    font-weight: 500;
}
.header-right.undone{
    color: red;
}
.header-right.done{
    color:green;
    
}
.card-footer a.btn{
    border: grey 1px solid;
    background-color: whitesmoke;
    font-weight: 600;
}

