.teacher {
    display: grid;
    grid-template-columns: min-content auto;
}

/* .aside {
    width: 256px;
    transition: width 0.3s;
}

.no-aside {
    width: 75px;
    transition: width 0.3s;
} */

.offcanvas-body a {
    padding-left: 15px;
}

