
<div *ngFor = "let quiz of quizSample.quizs">
    <div id="{{quiz.id}}" class="quiz">
        <div class="quiz-content">{{quiz.content}}</div>
        <div class="quiz-answer">
            <div *ngIf = "quiz.quizType; else elseBlock ">
                <div class="multiple-choice choice">
                    <div *ngFor = "let answer of quiz.answers">
                        <div class="choice-content" (click)="checkToCheckbox(quiz.id+answer.id)">
                            <input id="dapan{{quiz.id+answer.id}}" type="checkbox" #theAnswer value="{{answer.content}}" (change)="onItemChange(theAnswer.value, quiz.id, quiz.quizType)">
                            <label >{{answer.content}}</label>
                        </div>
                        
                    </div>
                </div>
            </div>
            <ng-template #elseBlock>
                <div class="single-choice choice">
                    <div *ngFor = "let answer of quiz.answers">
                        <div class="choice-content" (click)="checkToCheckbox(quiz.id+answer.id)">
                            <input id="dapan{{quiz.id+answer.id}}" name="answerOf{{quiz.content}} "type="radio" #theAnswer value="{{answer.content}}"(change)="onItemChange(theAnswer.value, quiz.id, quiz.quizType)" >
                            <label >{{answer.content}}</label>
                        </div>
                        
                
                    </div>
                </div>
                
            </ng-template>
        </div>
            
      
    </div>
</div>

<button class="btn" (click)="onSubmit()">Nop Bai</button>