.container-fluid{
    padding: 30px;
}

.container-fluid .class-name{
    border-bottom: 2px solid #2b6777;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 10px;
}

.container-fluid .class-detail{
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 10px;
    min-width: min-content;
}


@media(max-width: 500px) {

    .container-fluid{
        margin: 0;
    }

    .container-fluid .class-name{
        margin: 20px 0;
    }
    .container-fluid .class-detail{
        margin: 0;
    }
}