<div class="container-fluid">
  <h1 class="class-name">
    {{classDetail.name}}
  </h1>
  <div class="class-detail row">
    <div class="col-lg-4 d-flex flex-column">
      <a (click)="toggleChild(true)">Bài kiểm tra</a>
      <a (click)="toggleChild(false)">Danh sách học sinh</a>
    </div>
    <div class="col-lg-8" *ngIf="toggle; else hocsinh">
      <app-test-list [sections]='classDetail.sections'></app-test-list>
    </div>

    <ng-template #hocsinh class="col-lg-8">
      <div class="col-lg-8">
        <app-student-list></app-student-list>
      </div>
      
    </ng-template>

  </div>
</div>