.container-fluid{
    padding: 30px;
    margin: 30px;
    float: left;
}

.class-detail{
    display: flex;
    max-width: 100%;
}

.class-detail .left{
    width: 30%;
}

.class-detail .right{
    margin-right: 10px;
    width: 70%;
    z-index: 0;
}
