<div class="wrap">
    <div *ngFor="let student of studentList">
        <div class="student-info">
            <div class="d-flex justify-content-between row pr-3">
                <div class="col-md-10">
                    <p class="username">
                        Tên người dùng: {{student.userName}}
                    </p>
                    <p class="full-name">
                        Họ và tên: {{student.name}}
                    </p>
                    <p class="email">
                        Email: {{student.email}}
                    </p>
                </div>
            </div>

        </div>
    </div>
</div>