<div class="wrap">
    <button class="btn-add btn shadow-none btn-outline-info">Add student</button>
    <div *ngFor="let student of studentList">
        <div class="student-info">
            <div class="d-flex justify-content-between row pr-3">
                <div class="col-md-10">
                    <p class="name">
                        Tran Quocs Viet
                    </p>
                    <p class="class-name">
                        Lớp 10A1
                    </p>
                    <p class="email">
                        tranvietmar15@gmialcom
                    </p>
                </div>
                <button class="btn btn-sm btn-light btn-trash" title="Xem điểm">
                    <i class="fa fa-trash px-2" aria-hidden="true">
                    </i>
                </button>
            </div>

        </div>
    </div>


</div>