.container-fluid {
    margin: 30px;
    float: left;
}

.container-fluid .box {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
    min-height: fit-content;
    min-width: min-content;

}

.title{
    border-bottom: 2px solid #2b6777;
    margin-left: 80px;
    margin-right: 80px;
    padding-bottom: 10px;
}

.title h1{
    overflow: hidden;
    min-width: fit-content;
    min-height: min-content;
    white-space: nowrap;
    margin: 0;
}

.pagination /deep/ .ngx-pagination {
    padding: 0;
    
}
.pagination /deep/ .ngx-pagination .current {
    background: #52ab98 !important;
    font-weight: 600;
}

.pagination /deep/ .ngx-pagination li {
    font-weight: 500;
    
}


.error-msg {
    margin: 20px 0 0 0;
    padding: 10px;
    border-radius: 0.25em;
    overflow: hidden;
}

.box{
    margin-top: 10px;
}

.box .left {
    width: 40%;
    max-width: 40%;
    padding: 1.25rem;
    background: #f2f2f2;
}

.box .right {
    width: 60%;
    margin-right: auto;
}

.box .right .card {
    height: 100%;
    min-height: min-content;
}

textarea.quiz-content {
    width: 100%;
    margin: 0;
    padding: 10px;
    overflow: auto;
    font-size: 1.25em;
}

textarea {
    resize: none;
    width: 70%;
    padding: 10px;
    font-size: 16px;
    font-weight: 500;
    color: #2b6777;
    letter-spacing: 1px;
    border-bottom: 1px solid #2b6777;
    outline: none;
    border-radius: 0.25rem;
    background: white;
}

.quiz-type {
    display: flex;
    align-items: center;
}

.quiz-type span {
    font-weight: 500;
    font-size: 1em;
    color: #2b6777;
}

.quiz-type input {
    margin: 10px 20px 10px 5px;
}

.form-check-input {
    position: relative;
}

.answer-box {
    display: flex;
    align-items: center;
    margin: 10px 0;
    min-height: fit-content;
}

.card .card-header {
    display: flex;
    background: #2b6777;
    color: white;
    align-items: center;
    justify-content: space-between;
    padding: 10px;

}

.card-header h2 {
    font-weight: 600;
    font-size: 1.5em;
    border-left: 5px solid white;
    text-align: end;
    padding-left: 10px;
    margin: 0;
}

.card-header button {
    margin: 0;
}

.card .card-body {
    background: #f2f2f2;
}

.answer-box label,
.answer-box textarea,
.answer-box input {
    margin: 0 10px;
}

.answer-box label {
    font-weight: 500;
    font-size: 1.5em;
    color: #2b6777;
}

.answer-box input {
    width: 1.25em;
    height: 1.25em;
}

.btn-ok, .btn-not-ok, .btn-submit {
    align-items: center;
    padding: 0;
    justify-content: center;
    height: 40px;
    width: 40px;
    min-width: min-content;
    box-shadow: none;
    border-radius: 10px;
}

.btn-ok {
    background-color: #52ab98;
}

.btn-not-ok {
    background-color: #FFC107;
}

.btn-submit {
    background-color: #2b6777;
}

.btn-ok i,
.btn-not-ok i,
.btn-submit i {
    color: white;
    font-size: 20px;
}

@media(max-width: 1024px) {
    .container-fluid {
        margin: 0;
    }

    .container-fluid .box {
        display: block;
        display: block;
        margin: auto;
    }
    .title{
        margin: 0;
    }
    .box{
        margin: 0;
    }

    .box .left {
        width: 100%;
        margin: auto;
    }

    .box .right {
        width: 100%;
        margin: auto;
    }
}
