<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="student wrapper" >
  <div class="navigation">
    <app-dashboard [isOpen]='isOpen'></app-dashboard>
  </div>

  <div class="student-body">
    <div>
      <app-menu (toggleNav)='toggle_navbar()'></app-menu>
    </div>
    
    <router-outlet></router-outlet>

  </div>
</div>
<!-- Modal -->
<!-- <div class="modal fade" id="Logout" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" routerLink="/home" routerLinkActive="active" data-bs-dismiss="modal">Save changes</button>
        </div>
      </div>
    </div>
  </div>

     Offcanvas Sidebar 
    <div class="offcanvas offcanvas-start" id="course">
        <div class="offcanvas-header">
          <h1 class="offcanvas-title">Course</h1>
          <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas"></button>
        </div>
        <div class="offcanvas-body">
          <p><a [routerLink]="'course'" routerLinkActive="active" data-bs-dismiss="offcanvas">Class Name 1</a></p>
          <p><a [routerLink]="'course'" routerLinkActive="active" data-bs-dismiss="offcanvas">Class Name 2</a></p>
        </div>
      </div> -->