.student {
    display: grid;
    grid-template-columns: min-content auto;
    overflow:hidden;
    
}

.student .navigation {
    height: 100%;
}

.student .student-body{
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100vh;
}

.student .student-body div{
    position: sticky;
    top: 0;
    z-index: 1;
}

.offcanvas-body a{
    padding-left: 15px;
}