.row#profile{
    box-shadow: 0 0 10px rgba(25,59,69,.1), 0 2px 10px rgba(0,0,0,.2);
    
}
.left-col{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #2b6777;
    color: #fff;
    padding: 20px 0;
}
.right-col{
    display: inline-block;
    align-items: center;
    flex-direction: column;
    padding: 20px 0;
    vertical-align: middle;
    width: 100%;
    padding-right: 30px;
}
.function .btn{
    background-color: #f2f2f2;
    color: #2b6777;
    font-weight: 500;
    width: auto;
    height: 45px;
    border: none;
    padding: 10px 20px;
    border-radius: 0px;
    margin: 10px 0;
    line-height: 0.8;
}
.profile-img img{
    width: auto;
    height: 100%;
}
.profile-img{
    display: inline-block;
    position: relative;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    border: 5px solid #FFF;
}
h1.name{
    font-size: 22pt;
    font-weight: 400;
    margin: 5px;
    padding-top: 10px;
    word-spacing: 2px;
    letter-spacing: 1px;
}
h2.email{
    font-size: 14pt;
    margin: 5px 0;
    letter-spacing: 2px;
}
.email-contact{
    flex-direction: row;
}
span.email-img{
    font-weight: 400;
    margin: 0 5px;
    font-size: 20pt;
    font-family: 'Roboto', sans-serif;
}
.right-col .info{
    border-bottom: 1px solid #2b6777;
    height: auto;
}
.info, .info-xl{
    font-size: 14pt;
    margin: 5px;
    padding: 10px 15px;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
label{
    color: #2b6777;
    font-weight: 500;
    padding: 0;
    margin: 0;
}
.row#activity{
    padding:25px
}
.change-password{
    padding:10px;
    display: flex;
    flex-direction: column;
}
.change-password input{
    border:none;
    border-radius: 0;
    border-bottom: 1px solid #52AB98;
    padding: 5px 10px;
    outline: none;
    height: 45px;
    margin: 10px 10px;
}
[placeholder]:focus::-webkit-input-placeholder {
    transition: text-indent 0.3s 0.2s ease-in-out; 
    text-indent: -100%;
    opacity: 1;
    padding-left: 5px;
 }
 .modal-footer .btn{
    margin: 0 10px;
    border: none;
    height: 45px;
    font-weight: 500;
    border-radius: 0;
    color: #FFF;
}
.modal-footer .btn.btn-secondary{
    background-color: #f2f2f2;
    color: #608791;
}
.modal-footer .btn.btn-primary{
    background-color: #2b6777;
}
.edit-profile{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.edit-profile input , .edit-profile textarea, .edit-profile select{
    border:none;
    border-radius: 0;
    border-bottom: 1px solid #52AB98;
    padding: 5px 10px;
    outline: none;
    height: 45px;
    margin: 10px 10px;
}