<div class="container-fluid">
  <!--  -->
  <div class="title d-flex flex-wrap justify-content-between align-items-center">
    <h2>Hoạt động gần đây</h2>
  </div>
  <div class="grid mb-5">
    <div class="class-card" *ngFor="let rClass of recentClass.reverse() | slice:0:5">
      <div class="test-glass" [routerLink]="[rClass.id]">
        <img class="shape" [src]='rClass.imgUrl'
          onerror="this.src='https://media.sketchfab.com/models/7d40f94be37d458e98365e89dcdcae11/thumbnails/6bbd665875d94ff981f54e4c1a445617/81b45ea904ad4cfd95234ca9d3ac525d.jpeg'">
        <div class="card">
          <p>Xem chi tiết</p>
        </div>
      </div>
      <div class="card-title d-flex justify-content-center align-items-center">
        <p #name class="text-truncate" [innerHTML]="rClass.name"></p>
      </div>
    </div>
  </div>
  <!--  -->
  <div class="title d-flex flex-wrap justify-content-between align-items-center">
    <h1>Danh sách lớp học</h1>
    <button class="btn btn-sm btn-light mt-3 btn-ok" data-bs-toggle="modal" data-bs-target="#createClass">
      <i class="fa fa-plus px-2" aria-hidden="true">
        <span class="px-2 h6">Thêm</span>
      </i>
    </button>
  </div>
  <div class="grid">
    <div class="class-card" *ngFor="let quiz of listQuiz">
      <div class="test-glass" [routerLink]="[quiz.id]">
        <img class="shape" [src]='quiz.imgUrl'
          onerror="this.src='https://media.sketchfab.com/models/7d40f94be37d458e98365e89dcdcae11/thumbnails/6bbd665875d94ff981f54e4c1a445617/81b45ea904ad4cfd95234ca9d3ac525d.jpeg'">
        <div class="card">
          <p>Xem chi tiết</p>
        </div>
        <button class="btn-delete" (click)="openConfirm($event, quiz.id)">
          <i class="fa fa-trash" aria-hidden="true"></i>
        </button>
      </div>
      <div class="card-title d-flex justify-content-center align-items-center">
        <p #name class="text-truncate" [innerHTML]="quiz.name"></p>
        <form (ngSubmit)="onEdit(quiz.id,editName)">
          <input #editName [value]="quiz.name" class="d-none" (focusout)="banana(name,editName)">
        </form>

        <button class="bg-transparent border-0" (click)="enableEdit(name, editName)">
          <i class="fa fa-pencil" aria-hidden="true"></i>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="listQuiz.length <= 0"> Chưa có lớp học nào. </div>
</div>



<!--Modal-->
<div class="modal fade" id="createClass" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header bg-header">
        <h5 class="modal-title" id="exampleModalLabel">Tạo lớp mới</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="change-password">
          <form [formGroup]='classForm'>
            <div class="form-group">
              <label for="current-password">Tên lớp:</label>
              <input type="text" class="form-control" placeholder="Tên lớp" formControlName="name" maxlength="30">
              <div class="invalid-feedback">
                <div *ngIf="classForm.controls['name'].hasError('required')">
                  Tên lớp không được để trống
                </div>
                <div *ngIf="classForm.controls['name'].hasError('minlength')">
                  Tên lớp không thế ngắn hơn 4 ký tự
                </div>
              </div>
            </div>
            <div class="create-button d-flex justify-content-between">
              <button type="button" class="btn btn-sm btn-light mt-3 btn-not-ok" data-bs-dismiss="modal"><i
                  class="fa fa-times" aria-hidden="true"></i></button>
              <button (click)="createNewClass()" class="btn btn-sm btn-light mt-3 btn-ok"
                [disabled]="!classForm.valid"><i class="fa fa-check" aria-hidden="true"
                  data-bs-dismiss="modal"></i></button>
            </div>

          </form>

        </div>
      </div>

    </div>
  </div>
</div>

<div class="modal fade" id="createClass"  aria-labelledby="exampleModalLabel" aria-hidden="true" [ngStyle]="{'display': isOpenDialog ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header mt-3 bg-warning">
        <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn xóa lớp?</h5>
        <button type="button" class="btn-close" (click)="openModal(false)"></button>
      </div>
      <div class="modal-body">
        <div class="change-password">
          <div class="create-button d-flex justify-content-between">
            <button (click)="openModal(false)" type="button" class="btn btn-sm btn-light mt-3 btn-not-ok" ><i
                class="fa fa-times" aria-hidden="true"></i></button>
            <button (click)="deleteClass()" class="btn btn-sm btn-light mt-3 btn-ok"><i
                class="fa fa-check" aria-hidden="true" data-bs-dismiss="modal"></i></button>
          </div>


        </div>
      </div>

    </div>
  </div>
</div>