<div class="menu">
    <div class = "left-menu">
        <button class="btn-menu" (click)="toggle_navbar()">
            <i class="fa fa-bars" aria-hidden="true"></i>
        </button>
        <breadcrumb class="breadcrumb-container" #parent>  
            <ol class="breadcrumb">
              <ng-template ngFor let-route [ngForOf]="parent.breadcrumbs">
                <li *ngIf="!route.terminal" class="breadcrumb-item">
                  <a href="" [routerLink]="[route.url]">{{ route.displayName }}</a>
                </li>
                <li *ngIf="route.terminal" class="breadcrumb-item active" aria-current="page">{{ route.displayName }}</li>
              </ng-template>
            </ol>
          </breadcrumb>  
    </div>

    <div class="dropdown">
        <a class="btn-outline-light btn-profile dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span>{{username}}</span>
        </a>

        <div class=" dropdown-menu" aria-labelledby="dropdownMenuLink">
            <a class=" dropdown-item" [routerLink]="'profile'">
                Hồ sơ
            </a>
            <a class=" dropdown-item" [routerLink]="'course'">
                Lớp học
            </a>
            <div class=" dropdown-divider">
            </div>
            <a class=" dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#Logout">
                Đăng xuất
            </a>
        </div>
    </div>
</div>