<!-- <app-header></app-header> -->
<!-- <body>
    <div class="container-fluid">
        <div class="mt-4 p-5 text-white rounded bg-blue">
            <h1>Just Do Quiz</h1>
            <p>You can Do It with my self And Just DO IT</p>
            <p>Believe in your self and Just DO IT</p>
        </div>
    </div>
    <div id="signin-box">
        <app-signin></app-signin>
    </div>
    <div id="login-box">
        <app-login></app-login>
    </div>
</body> -->

<section>
    <div class="circle">

    </div>
    <header>
        <a href="#"><img src="./../../../../assets/img/pain_tako.png" class="logo"></a>
        <ul>
            <li><a href="#">Github</a></li>
            <li><a href="#">Contact</a></li>
            <li><a href="#">Info</a></li>
        </ul>
    </header>
    <div class="content">
        <div class="textBox">
            <h2>Just do it<br>Believe in your self and <br><span>Just Do Quiz</span></h2>
        </div>
        <div class="login-card">
            
            
            <div class="btn-box" [ngClass]="isLogin? 'isLogin' : 'isRegister' ">
                <button type="button" class="toggle-btn login" (click)="toggle_login_register(true)">Log in</button>
                <button type="button" class="toggle-btn register" (click)="toggle_login_register(false)">Register</button>
                <div class="btn-bg"></div>
            </div>
            <form [formGroup]='loginForm' *ngIf="isLogin" @fadeInOut (ngSubmit)="onLogin()">
                <div class="inputBox">
                    <input type="text" name="username" required autocomplete="off" formControlName="username">
                    <label>Username <small *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.touched || isSubmit[0])" class="text-danger">*required, min length is 6</small></label>
                </div>
                <div class="inputBox">
                    <input type="password" name="password" required formControlName="password">
                    <label>Password <small *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.touched || isSubmit[0])" class="text-danger">*required, min length is 8</small></label>
                </div>
                <input class="btn" type="submit" name="btnLogin" value="Log in" >
            </form>
            <form [formGroup]='registerForm' *ngIf="!isLogin" @fadeInOut (ngSubmit)="onRegiste()">
                <div class="inputBox">
                    <input type="text" name="username" required autocomplete="off" formControlName="username">
                    <label>Username <small *ngIf="registerForm.get('username')?.invalid && (registerForm.get('username')?.touched || isSubmit[1])" class="text-danger">*required, min length is 6</small></label>
                </div>
                <div class="inputBox">
                    <input type="text" name="fullname" required autocomplete="off" formControlName="fullname">
                    <label>Full name <small *ngIf="registerForm.get('fullname')?.invalid && (registerForm.get('fullname')?.touched || isSubmit[1])" class="text-danger">*required</small></label>
                </div>
                <div class="inputBox">
                    <input type="email" name="email" required autocomplete="off" formControlName="email">
                    <label>Email <small *ngIf="registerForm.get('email')?.invalid && (registerForm.get('email')?.touched || isSubmit[1])" class="text-danger" >*required, email format</small></label>
                </div>
                <div class="inputBox">
                    <input type="password" name="password" required autocomplete="off" formControlName="password">
                    <label>Password <small *ngIf="registerForm.get('password')?.invalid && (registerForm.get('password')?.touched || isSubmit[1])" class="text-danger">*required, min length is 8</small></label>
                </div>
                <div class="inputBox">
                    <input type="password" name="password2" required autocomplete="off" formControlName="repeatpassword">
                    <label>Repeat password <small *ngIf="registerForm.get('repeatpassword')?.invalid && (registerForm.get('repeatpassword')?.touched || isSubmit[1])" class="text-danger">*required, min length is 8</small></label>
                </div>
                <div class="radioBox">
                    <label>Gender: </label>
                    <span>Male</span>
                    <input type="radio" name="gender" required checked value="true" formControlName="gender">
                    <span>Female</span>
                    <input type="radio" name="gender" required value="false" formControlName="gender">
                    
                </div>
                <div class="radioBox">
                    <label>Role: </label>
                    <span>Student</span>
                    <input type="radio" name="role" required checked value="student" formControlName="role">
                    <span>Teacher</span>
                    <input type="radio" name="role" required value="teacher" formControlName="role">
                    
                </div>
                <input class="btn" type="submit" name="btnRegister" value="Submit">
            </form>
        </div>
    </div>
    <ul class="sci">
        <li><a href="#"><img src="./../../../../assets/img/facebook.png"></a></li>
        <li><a href="#"><img src="./../../../../assets/img/twitter.png"></a></li>
        <li><a href="#"><img src="./../../../../assets/img/instagram.png"></a></li>
    </ul>
</section>